/* line 5, ../scss/_login.scss */
.login-page-wrapper {
  background-color: #e02828;
  height: 100%;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  /* line 5, ../scss/_login.scss */
  .login-page-wrapper {
    background-image: url("../img/people.png");
    background-attachment: fixed;
    height: 100vh;
    overflow: auto;
    position: relative;
  }
  /* line 17, ../scss/_login.scss */
  .login-page-wrapper .layer {
    background-color: rgba(224, 40, 40, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}
@media screen and (min-width: 1024px) {
  /* line 34, ../scss/_login.scss */
  .login-page-wrapper .flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 41, ../scss/_login.scss */
  .login-page-wrapper .flex .flex-item {
    flex: 1 1 0;
  }
}
/* line 50, ../scss/_login.scss */
.login-page-wrapper .login-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 25px 5% 0;
}
@media screen and (min-width: 768px) {
  /* line 50, ../scss/_login.scss */
  .login-page-wrapper .login-header {
    margin-bottom: 70px;
  }
}
/* line 63, ../scss/_login.scss */
.login-page-wrapper .login-header__logo {
  min-width: 120px;
  max-width: 150px;
}
/* line 67, ../scss/_login.scss */
.login-page-wrapper .login-header__logo img {
  width: 100%;
}
/* line 73, ../scss/_login.scss */
.login-page-wrapper .login-header__burger {
  color: #fff;
  display: block;
}
/* line 83, ../scss/_login.scss */
.login-page-wrapper .welcome-section {
  color: #fff;
}
@media screen and (min-width: 1024px) {
  /* line 83, ../scss/_login.scss */
  .login-page-wrapper .welcome-section {
    padding-right: 80px;
  }
}
/* line 91, ../scss/_login.scss */
.login-page-wrapper .welcome-section__h1 {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  /* line 91, ../scss/_login.scss */
  .login-page-wrapper .welcome-section__h1 {
    font-size: 2rem;
  }
}
/* line 98, ../scss/_login.scss */
.login-page-wrapper .welcome-section__p {
  margin: 35px 0 60px;
}
/* line 102, ../scss/_login.scss */
.login-page-wrapper .welcome-section__button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: block;
  padding: 15px 0;
  text-align: center;
  text-transform: capitalize;
  width: 180px;
  transition: background-color .3s, color .3s;
}
/* line 115, ../scss/_login.scss */
.login-page-wrapper .welcome-section__button:hover {
  background-color: #fff;
  color: #e02828;
}
/* line 124, ../scss/_login.scss */
.login-page-wrapper .login-section {
  background-color: #fff;
  border: 1px solid #bfc3c9;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top: 110px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  /* line 124, ../scss/_login.scss */
  .login-page-wrapper .login-section {
    display: flex;
    max-width: 540px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 124, ../scss/_login.scss */
  .login-page-wrapper .login-section {
    margin-top: 0;
  }
}
/* line 147, ../scss/_login.scss */
.login-page-wrapper .sign-in-list {
  border-bottom: 1px solid #cccccc;
  display: flex;
  flex-direction: row;
}
/* line 153, ../scss/_login.scss */
.login-page-wrapper .sign-in-list > li {
  background-color: #f7f7f7;
  cursor: pointer;
  flex: 1 1 0;
  padding: 10px 20px;
  text-align: center;
}
/* line 162, ../scss/_login.scss */
.login-page-wrapper .sign-in-list li:first-child {
  border-right: 1px solid #bfc3c9;
}
/* line 168, ../scss/_login.scss */
.login-page-wrapper .sign-in-list .sign-in-list__item > i {
  color: #bfc3c9;
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 176, ../scss/_login.scss */
.login-page-wrapper .sign-in-list .sign-in-list__item_active {
  background-color: #fff;
}
/* line 178, ../scss/_login.scss */
.login-page-wrapper .sign-in-list .sign-in-list__item_active i {
  color: #f76927;
}
@media screen and (min-width: 768px) {
  /* line 147, ../scss/_login.scss */
  .login-page-wrapper .sign-in-list {
    border-bottom: none;
    border-right: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
  }
  /* line 191, ../scss/_login.scss */
  .login-page-wrapper .sign-in-list .sign-in-list__item {
    padding: 0 20px;
  }
  /* line 195, ../scss/_login.scss */
  .login-page-wrapper .sign-in-list li:first-child {
    border-right: none;
    border-bottom: 1px solid #bfc3c9;
  }
  /* line 200, ../scss/_login.scss */
  .login-page-wrapper .sign-in-list i {
    font-size: 25px;
  }
}
/* line 208, ../scss/_login.scss */
.login-page-wrapper .login-form-wrapper {
  width: 100%;
}
/* line 213, ../scss/_login.scss */
.login-page-wrapper .login-form-wrapper__header {
  border-bottom: 1px solid #bfc3c9;
  padding: 25px 25px 20px;
}
/* line 217, ../scss/_login.scss */
.login-page-wrapper .login-form-wrapper__header h2 {
  font-size: 14px;
  font-weight: 700;
}
/* line 224, ../scss/_login.scss */
.login-page-wrapper .login-form {
  padding: 30px 25px;
}
/* line 229, ../scss/_login.scss */
.login-page-wrapper .login-form__form-options {
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  /* line 229, ../scss/_login.scss */
  .login-page-wrapper .login-form__form-options {
    display: flex;
    justify-content: space-between;
  }
}
/* line 239, ../scss/_login.scss */
.login-page-wrapper .login-form__forgot-password {
  color: #bfc3c9;
  display: block;
  font-size: 14px;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  /* line 239, ../scss/_login.scss */
  .login-page-wrapper .login-form__forgot-password {
    margin-top: 3px;
  }
}
/* line 251, ../scss/_login.scss */
.login-page-wrapper .login-form__regular-login {
  background-color: #f76927;
}
/* line 255, ../scss/_login.scss */
.login-page-wrapper .login-form__facebook-login {
  background-color: #3B5998;
}
/* line 259, ../scss/_login.scss */
.login-page-wrapper .login-form__twitter-login {
  background-color: #1DA1F2;
}
/* line 265, ../scss/_login.scss */
.login-page-wrapper .login-form__separator {
  border-top: 1px solid #bfc3c9;
  margin: 20px 0;
  text-align: center;
  position: relative;
}
/* line 271, ../scss/_login.scss */
.login-page-wrapper .login-form__separator span {
  background-color: #fff;
  color: #bfc3c9;
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  width: 74px;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 285, ../scss/_login.scss */
.login-page-wrapper .login-form__register-now-text {
  color: #bfc3c9;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 20px;
}
/* line 291, ../scss/_login.scss */
.login-page-wrapper .login-form__register-now-text a {
  color: #f76927;
  font-weight: 700;
}

/* line 6, ../scss/_profile.scss */
.profile .wrapper {
  display: flex;
}
/* line 15, ../scss/_profile.scss */
.profile .main-content {
  background-color: #edf3ff;
  flex: 2 1 0;
  padding: 40px 15px;
}
/* line 45, ../scss/_profile.scss */
.profile .profile__header {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  margin: 0;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  /* line 45, ../scss/_profile.scss */
  .profile .profile__header {
    margin: 0 15px;
  }
}
/* line 58, ../scss/_profile.scss */
.profile .profile__cover-image {
  background-image: url("../img/users-images/james.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 28%;
  height: 160px;
}
@media screen and (min-width: 768px) {
  /* line 58, ../scss/_profile.scss */
  .profile .profile__cover-image {
    height: 300px;
  }
}
/* line 70, ../scss/_profile.scss */
.profile .profile__nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  font-weight: 700;
  justify-content: flex-end;
  padding: 40px 25px 121px;
  text-transform: capitalize;
}
/* line 78, ../scss/_profile.scss */
.profile .profile__nav ul {
  display: none;
}
/* line 80, ../scss/_profile.scss */
.profile .profile__nav ul:first-child {
  flex: 1 1 0;
}
/* line 84, ../scss/_profile.scss */
.profile .profile__nav > div {
  margin-left: 35px;
}
@media screen and (min-width: 768px) {
  /* line 70, ../scss/_profile.scss */
  .profile .profile__nav {
    padding: 40px 25px 38px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 93, ../scss/_profile.scss */
  .profile .profile__nav ul {
    display: block;
  }
}
/* line 100, ../scss/_profile.scss */
.profile .profile__nav li {
  display: inline-block;
  padding: 0 35px;
}
/* line 107, ../scss/_profile.scss */
.profile .profile__nav-link {
  color: #cccccc;
  transition: color .3s;
}
/* line 110, ../scss/_profile.scss */
.profile .profile__nav-link i {
  font-size: 8px;
}
/* line 114, ../scss/_profile.scss */
.profile .profile__nav-link:hover {
  color: #3a3b3d;
}
/* line 119, ../scss/_profile.scss */
.profile .profile__nav-link_active {
  color: #3a3b3d;
}
/* line 125, ../scss/_profile.scss */
.profile .profile__user-info {
  margin-top: 5px;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
/* line 132, ../scss/_profile.scss */
.profile .profile__user-info .border {
  border: 3px solid #fff;
}
/* line 135, ../scss/_profile.scss */
.profile .profile__user-info > div {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  /* line 125, ../scss/_profile.scss */
  .profile .profile__user-info {
    top: 183px;
  }
}
/* line 145, ../scss/_profile.scss */
.profile .user-info-text-wrapper h1 {
  color: #3a3b3d;
  font-size: 26px;
  text-transform: capitalize;
}
/* line 152, ../scss/_profile.scss */
.profile .profile-user-info label {
  color: #cccccc;
}
/* line 157, ../scss/_profile.scss */
.profile .profile__contact-user {
  position: absolute;
  right: 35px;
  top: 266px;
}
@media screen and (min-width: 768px) {
  /* line 157, ../scss/_profile.scss */
  .profile .profile__contact-user {
    right: 12px;
  }
}
/* line 168, ../scss/_profile.scss */
.profile .profile__contact-user-item {
  display: inline-block;
}
/* line 170, ../scss/_profile.scss */
.profile .profile__contact-user-item > a {
  margin: 0 10px;
  transition: transform .3s;
}
/* line 174, ../scss/_profile.scss */
.profile .profile__contact-user-item:hover {
  transform: scale(1.2);
}
/* line 191, ../scss/_profile.scss */
.profile .timeline {
  display: flex;
}
/* line 196, ../scss/_profile.scss */
.profile .timeline__posts {
  flex: 2 1 0;
}
/* line 202, ../scss/_profile.scss */
.profile .timeline__recent {
  display: none;
}
@media screen and (min-width: 1200px) {
  /* line 202, ../scss/_profile.scss */
  .profile .timeline__recent {
    display: block;
    flex: 1 1 0;
  }
}
/* line 210, ../scss/_profile.scss */
.profile .content-holder {
  margin: 10px;
  position: relative;
}
/* line 213, ../scss/_profile.scss */
.profile .content-holder h3 {
  color: #3a3b3d;
  font-size: 13px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
/* line 220, ../scss/_profile.scss */
.profile .content-holder p {
  color: #3a3b3d;
  font-size: 12px;
  line-height: 1.5;
}
/* line 225, ../scss/_profile.scss */
.profile .content-holder a {
  display: block;
}
/* line 233, ../scss/_profile.scss */
.profile .social-links {
  margin-top: 12px;
}
/* line 235, ../scss/_profile.scss */
.profile .social-links .social-links__item {
  align-items: center;
  background-color: #3B5998;
  border-radius: 3px;
  color: #fff;
  display: flex;
  font-size: 11px;
  height: 30px;
  justify-content: center;
  margin-bottom: 10px;
  text-transform: capitalize;
}
/* line 246, ../scss/_profile.scss */
.profile .social-links .social-links__item i {
  font-size: 13px;
  margin-right: 10px;
}
/* line 255, ../scss/_profile.scss */
.profile .spacing {
  margin: 10px 5px;
}
/* line 259, ../scss/_profile.scss */
.profile .spacing__item {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  position: relative;
}
/* line 267, ../scss/_profile.scss */
.profile .badges a, .profile .friends a {
  display: block;
}
/* line 278, ../scss/_profile.scss */
.profile .song span {
  display: block;
}
/* line 280, ../scss/_profile.scss */
.profile .song span:last-child {
  color: #cccccc;
  font-size: 12px;
}
/* line 288, ../scss/_profile.scss */
.profile .song__length {
  color: #bfc3c9;
  font-size: 11px;
  margin-top: 3px;
}
/* line 295, ../scss/_profile.scss */
.profile .song__is-playing {
  display: none;
}
/* line 297, ../scss/_profile.scss */
.profile .song__is-playing i {
  font-size: 4px;
}
/* line 303, ../scss/_profile.scss */
.profile .song__number-of-song {
  color: #bfc3c9;
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
/* line 317, ../scss/_profile.scss */
.profile .twitter p {
  margin: 15px 0 20px;
}
/* line 322, ../scss/_profile.scss */
.profile .time-of-post {
  color: #bfc3c9;
  font-size: 11px;
}
/* line 330, ../scss/_profile.scss */
.profile .video {
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
/* line 334, ../scss/_profile.scss */
.profile .video img {
  height: 100%;
  transform: scale(1.2);
  width: 100%;
}
/* line 342, ../scss/_profile.scss */
.profile .video__play-icon {
  background-color: rgba(147, 150, 155, 0.2);
  color: #cccccc;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color .3s, color .3s;
}
/* line 352, ../scss/_profile.scss */
.profile .video__play-icon i {
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 360, ../scss/_profile.scss */
.profile .video__play-icon:hover {
  background-color: rgba(147, 150, 155, 0.5);
  color: #f76927;
}
/* line 371, ../scss/_profile.scss */
.profile .blog-posts__titile {
  font-size: 24px;
}
/* line 378, ../scss/_profile.scss */
.profile .poll__title {
  color: #3a3b3d;
  font-size: 14px;
}
/* line 383, ../scss/_profile.scss */
.profile .poll__section {
  margin: 15px;
  margin-bottom: 20px;
}
/* line 389, ../scss/_profile.scss */
.profile .poll__radio-button-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  position: relative;
  text-transform: capitalize;
}
/* line 396, ../scss/_profile.scss */
.profile .poll__radio-button-wrapper i {
  color: #cccccc;
  font-size: 17px;
  position: absolute;
  top: 1px;
  left: 0;
}
/* line 405, ../scss/_profile.scss */
.profile .vote-number {
  font-size: 15px;
}
/* line 409, ../scss/_profile.scss */
.profile .poll__people-voted {
  color: #cccccc;
  display: block;
  font-size: 12px;
  margin: 7px 0;
}
/* line 416, ../scss/_profile.scss */
.profile .poll__vote-now {
  background-color: transparent;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #cccccc;
  cursor: pointer;
  font-size: 13px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  transition: color .3s, border-color .3s;
  width: 100%;
}
/* line 429, ../scss/_profile.scss */
.profile .poll__vote-now:hover {
  border-color: #f76927;
  color: #f76927;
}
/* line 440, ../scss/_profile.scss */
.profile .add-to-favorite {
  color: #bfc3c9;
  font-size: 20px;
  transition: color .3s;
}
/* line 444, ../scss/_profile.scss */
.profile .add-to-favorite:hover {
  color: #f76927;
}
/* line 446, ../scss/_profile.scss */
.profile .add-to-favorite:hover .tooltip {
  display: block;
}
/* line 454, ../scss/_profile.scss */
.profile .last-photos li, .profile .last-photos a {
  display: inline-block;
}
/* line 466, ../scss/_profile.scss */
.profile .post-article {
  overflow: visible;
  padding: 0 25px;
  position: relative;
}
/* line 470, ../scss/_profile.scss */
.profile .post-article > div, .profile .post-article footer {
  padding-top: 25px;
}
/* line 476, ../scss/_profile.scss */
.profile .post-article__header {
  padding-top: 25px;
  position: relative;
}
/* line 487, ../scss/_profile.scss */
.profile .post-article__text {
  color: #3a3b3d;
}
/* line 493, ../scss/_profile.scss */
.profile .post-article__media {
  border-radius: 3px;
  line-height: 0;
  margin-top: 20px;
  overflow: hidden;
}
/* line 498, ../scss/_profile.scss */
.profile .post-article__media iframe {
  height: 173px;
  width: 100%;
}
/* line 502, ../scss/_profile.scss */
.profile .post-article__media img {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  /* line 507, ../scss/_profile.scss */
  .profile .post-article__media iframe {
    height: 315px;
  }
}
/* line 515, ../scss/_profile.scss */
.profile .list-of-react-options {
  position: absolute;
  right: -15px;
  top: 16px;
}
/* line 519, ../scss/_profile.scss */
.profile .list-of-react-options li {
  margin-bottom: 7px;
}
/* line 522, ../scss/_profile.scss */
.profile .list-of-react-options a {
  transition: background-color .3s;
}
/* line 524, ../scss/_profile.scss */
.profile .list-of-react-options a:hover {
  background-color: #ffd400;
}
/* line 532, ../scss/_profile.scss */
.profile .post-article__footer {
  border-top: 1px solid #cccccc;
}
/* line 536, ../scss/_profile.scss */
.profile .reaction-footer-flex-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
/* line 542, ../scss/_profile.scss */
.profile .number-of-reactions {
  color: #cccccc;
  margin-right: 10px;
}
/* line 545, ../scss/_profile.scss */
.profile .number-of-reactions i {
  font-size: 18px;
}
/* line 548, ../scss/_profile.scss */
.profile .number-of-reactions span {
  font-size: 14px;
}
/* line 561, ../scss/_profile.scss */
.profile .number-of-reactions.number-of-reactions_liked {
  color: #f76927;
}
/* line 568, ../scss/_profile.scss */
.profile .like-section {
  display: flex;
}
/* line 575, ../scss/_profile.scss */
.profile .list-of-users-that-liked {
  font-size: 13.5px;
  display: none;
  line-height: 1;
  margin-left: 5px;
  max-width: 120px;
}
/* line 581, ../scss/_profile.scss */
.profile .list-of-users-that-liked a {
  color: #3a3b3d;
  font-weight: 700;
}
/* line 585, ../scss/_profile.scss */
.profile .list-of-users-that-liked span {
  color: #cccccc;
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  /* line 575, ../scss/_profile.scss */
  .profile .list-of-users-that-liked {
    display: block;
  }
}
/* line 596, ../scss/_profile.scss */
.profile .message-share-section {
  display: flex;
  justify-content: flex-end;
}
/* line 601, ../scss/_profile.scss */
.profile .message-share-section .number-of-reactions:last-child {
  margin-right: 0;
}
/* line 610, ../scss/_profile.scss */
.profile .external-post {
  border-left: 1px solid #cccccc;
  margin-bottom: 20px;
  padding-left: 20px;
}
/* line 615, ../scss/_profile.scss */
.profile .external-post__header {
  padding-top: 12px;
  position: relative;
}
/* line 619, ../scss/_profile.scss */
.profile .side-circle-icon-wrapper {
  left: -25px;
}
/* line 623, ../scss/_profile.scss */
.profile .external-post__text {
  font-size: 13px;
  padding-top: 25px;
}
/* line 631, ../scss/_profile.scss */
.profile .comment__item {
  background-color: #f7f7f7;
  border-bottom: 1px solid #cccccc;
  margin: 0 -25px;
  padding: 0 25px;
}
/* line 636, ../scss/_profile.scss */
.profile .comment__item:first-child {
  border-top: 1px solid #cccccc;
}
/* line 642, ../scss/_profile.scss */
.profile .comment__content {
  padding-top: 12px;
  font-size: 13px;
}
/* line 649, ../scss/_profile.scss */
.profile .comment__footer {
  align-items: center;
  display: flex;
  padding: 12px 0;
}
/* line 655, ../scss/_profile.scss */
.profile .comment__replay {
  color: #3a3b3d;
  font-size: 13.5px;
}
/* line 661, ../scss/_profile.scss */
.profile .sub-comment {
  margin-top: 0;
  padding-left: 35px;
  position: relative;
}
/* line 667, ../scss/_profile.scss */
.profile .sub-comment__container {
  border-left: 1px solid #cccccc;
  padding-left: 25px;
}
/* line 672, ../scss/_profile.scss */
.profile .side-circle-icon-wrapper {
  position: absolute;
  top: 33px;
  left: 31px;
}
/* line 676, ../scss/_profile.scss */
.profile .side-circle-icon-wrapper i {
  background-color: #f7f7f7;
  border-radius: 50%;
  height: 9px;
  color: #cccccc;
  font-size: 10px;
  width: 8px;
}
/* line 688, ../scss/_profile.scss */
.profile .load-more-comments {
  text-align: center;
}
/* line 690, ../scss/_profile.scss */
.profile .load-more-comments span {
  color: #3a3b3d;
  font-size: 13px;
}
/* line 694, ../scss/_profile.scss */
.profile .load-more-comments i {
  color: #f76927;
  font-size: 9px;
  padding: 15px 0;
}
/* line 703, ../scss/_profile.scss */
.profile .add-comment {
  border-top: 1px solid #cccccc;
  display: flex;
  margin-top: 0;
  padding: 25px;
}
/* line 711, ../scss/_profile.scss */
.profile .text-area-wrapper {
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #3a3b3d;
  display: flex;
  font-size: 13px;
  height: 53px;
  justify-content: space-between;
  margin-left: 5px;
  overflow: hidden;
  padding: 0 15px;
  width: 100%;
}
/* line 726, ../scss/_profile.scss */
.profile textarea {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 10px 0;
  resize: none;
  width: 100%;
}
/* line 735, ../scss/_profile.scss */
.profile textarea:focus {
  outline: none;
}
/* line 739, ../scss/_profile.scss */
.profile .capture-icon {
  color: #cccccc;
  font-size: 20px;
  margin-left: 11px;
  transition: color .3s;
}
/* line 744, ../scss/_profile.scss */
.profile .capture-icon:hover {
  color: #3a3b3d;
}
/* line 750, ../scss/_profile.scss */
.profile .load-more-posts {
  background-color: rgba(204, 204, 204, 0.7);
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 5px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  transition: transform .3s;
  width: 50px;
}
/* line 762, ../scss/_profile.scss */
.profile .load-more-posts:hover {
  transform: scale(1.2);
}
/* line 766, ../scss/_profile.scss */
.profile .load-more-posts .load-more-posts-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 6, ../scss/style.scss */
* {
  font-family: 'Nanum Gothic', sans-serif;
}

/* line 11, ../scss/style.scss */
.container {
  margin: 0 auto;
  width: 80%;
}

/* line 19, ../scss/style.scss */
.delete {
  color: #f76927;
}

/* line 25, ../scss/style.scss */
.circle-icon-component {
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
/* line 30, ../scss/style.scss */
.circle-icon-component i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 39, ../scss/style.scss */
.circle-icon-component_small {
  height: 30px;
  width: 30px;
}
/* line 42, ../scss/style.scss */
.circle-icon-component_small i {
  font-size: 15px;
}

/* line 47, ../scss/style.scss */
.circle-icon-component_large {
  height: 45px;
  width: 45px;
}
/* line 50, ../scss/style.scss */
.circle-icon-component_large i {
  font-size: 22px;
}

/* line 56, ../scss/style.scss */
.circle-icon-component_bg-twitter-blue {
  background-color: #1DA1F2;
}

/* line 61, ../scss/style.scss */
.circle-icon-component_bg-purple {
  background-color: #565c77;
}

/* line 66, ../scss/style.scss */
.circle-icon-component_bg-orange {
  background-color: #f76927;
}

/* line 73, ../scss/style.scss */
.circle-img-component {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
/* line 77, ../scss/style.scss */
.circle-img-component img {
  height: 100%;
  width: 100%;
}

/* line 84, ../scss/style.scss */
.circle-img-component_extra-small {
  height: 30px;
  width: 30px;
}

/* line 90, ../scss/style.scss */
.circle-img-component_small {
  height: 35px;
  width: 35px;
}

/* line 96, ../scss/style.scss */
.circle-img-component_medium {
  height: 45px;
  width: 45px;
}

/* line 102, ../scss/style.scss */
.circle-img-component_large {
  height: 130px;
  width: 130px;
}

/* line 111, ../scss/style.scss */
.rounded-corner-component {
  border-radius: 3px;
  overflow: hidden;
}
/* line 114, ../scss/style.scss */
.rounded-corner-component img {
  height: 100%;
  width: 100%;
}

/* line 121, ../scss/style.scss */
.rounded-corner-component_small {
  height: 35px;
  width: 35px;
}

/* line 127, ../scss/style.scss */
.rounded-corner-component_medium {
  height: 45px;
  width: 45px;
}

/* line 133, ../scss/style.scss */
.rounded-corner-component_large {
  height: 65px;
  width: 65px;
}

/* line 141, ../scss/style.scss */
.overlapping {
  display: flex;
}
/* line 143, ../scss/style.scss */
.overlapping > div {
  border: 2px solid #fff;
  margin-left: -10px;
}
/* line 146, ../scss/style.scss */
.overlapping > div:first-child {
  margin-left: 0;
}

/* line 154, ../scss/style.scss */
.online-status-circle {
  border: 2px solid;
  border-radius: 50%;
  font-size: 11px;
  height: 11px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  z-index: 1;
}

/* line 167, ../scss/style.scss */
.online-status-circle_active {
  background-color: #44a510;
}

/* line 172, ../scss/style.scss */
.online-status-circle_busy {
  background-color: #ffd400;
}

/* line 177, ../scss/style.scss */
.online-status-circle_offline {
  background-color: #bfc3c9;
}

/* line 182, ../scss/style.scss */
.online-status-circle_border-white {
  border-color: #fff;
}

/* line 187, ../scss/style.scss */
.online-status-circle_border-purple {
  border-color: #383e5b;
}

/* line 194, ../scss/style.scss */
.notification-component {
  background-color: #f76927;
  border-radius: 50%;
  color: #fff;
  height: 18px;
  text-align: center;
  position: absolute;
  width: 18px;
  top: -3px;
}
/* line 203, ../scss/style.scss */
.notification-component span {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 3px;
  left: 5px;
}
/* line 211, ../scss/style.scss */
.notification-component.notification-component_small-icon {
  right: 5px;
}
/* line 215, ../scss/style.scss */
.notification-component.notification-component_medium-icon {
  right: -5px;
}

/* line 222, ../scss/style.scss */
.image-text-component {
  align-items: center;
  display: flex;
  position: relative;
}

/* line 228, ../scss/style.scss */
.image-text-component__image {
  margin-right: 7px;
}

/* line 232, ../scss/style.scss */
.image-text-component__text {
  margin-right: 15px;
  text-transform: capitalize;
}

/* line 237, ../scss/style.scss */
.image-text-component__title {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

/* line 245, ../scss/style.scss */
.image-text-component__span:last-child {
  color: #cccccc;
  display: block;
  font-size: 12px;
}

/* line 251, ../scss/style.scss */
.image-text-component__span_uppercase {
  text-transform: uppercase;
}

/* line 254, ../scss/style.scss */
.image-text-component__span_capitalize {
  text-transform: capitalize;
}

/* line 258, ../scss/style.scss */
.image-text-component__shared-media {
  color: #cccccc;
  font-size: 14px;
  margin-left: 3px;
  text-transform: none;
}
/* line 263, ../scss/style.scss */
.image-text-component__shared-media a {
  color: #f76927;
}

/* line 272, ../scss/style.scss */
.info-row-component {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* line 278, ../scss/style.scss */
.info-row-component_align-top {
  align-items: flex-start;
}

/* line 282, ../scss/style.scss */
.info-row-component_align-center {
  align-items: center;
}

/* line 288, ../scss/style.scss */
.tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  color: #e2e2e2;
  display: none;
  font-size: 10px;
  line-height: 1.3;
  min-width: 100px;
  padding: 8px;
  position: absolute;
  top: -33px;
  right: -41px;
  text-transform: uppercase;
}
/* line 301, ../scss/style.scss */
.tooltip:after {
  font-family: 'FontAwesome';
  color: rgba(0, 0, 0, 0.8);
  content: '\f0d7';
  font-size: 22px;
  position: absolute;
  left: 50%;
  top: 17px;
  transform: translateX(-50%);
}

/* line 316, ../scss/style.scss */
.drop-down-icon-wrapper {
  color: #cccccc;
  font-size: 8px;
  transition: color .3s;
  text-align: right;
  width: 40px;
}
/* line 322, ../scss/style.scss */
.drop-down-icon-wrapper:hover {
  color: #3a3b3d;
}
/* line 324, ../scss/style.scss */
.drop-down-icon-wrapper:hover .drop-down-list {
  display: block;
  opacity: 1;
}

/* line 332, ../scss/style.scss */
.drop-down-list {
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
  border: 2px solid #e2e2e2;
  color: #3a3b3d;
  display: block;
  font-size: 12px;
  font-weight: 700;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 55px;
  right: 0;
  text-transform: capitalize;
  transition: opacity .9s;
  z-index: 1;
}
/* line 348, ../scss/style.scss */
.drop-down-list a {
  display: block;
  margin-bottom: 10px;
}
/* line 351, ../scss/style.scss */
.drop-down-list a:last-child {
  margin-bottom: 0;
}

/* line 359, ../scss/style.scss */
.poll__component {
  margin-top: 10px;
}

/* line 363, ../scss/style.scss */
.poll__empty-bar {
  background-color: #cccccc;
  border-radius: 5px;
  height: 5px;
  position: relative;
  width: 100%;
}

/* line 371, ../scss/style.scss */
.poll__current-bar {
  background-color: #f76927;
  border-radius: 5px;
  height: 5px;
  position: absolute;
}

/* line 378, ../scss/style.scss */
.poll__current-bar_full {
  width: 100%;
}

/* line 382, ../scss/style.scss */
.poll__current-bar_half {
  width: 50%;
}

/* line 387, ../scss/style.scss */
.box-widget {
  background-color: #fff;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  margin: 15px 0;
  min-width: 270px;
}
@media screen and (min-width: 768px) {
  /* line 387, ../scss/style.scss */
  .box-widget {
    margin: 30px 15px 0;
  }
}

/* line 400, ../scss/style.scss */
.header {
  padding: 25px 25px 18px;
}
/* line 402, ../scss/style.scss */
.header h2 {
  color: #3a3b3d;
  font-size: 14px;
  text-transform: capitalize;
}

/* line 410, ../scss/style.scss */
.box-widget-item {
  border-top: 1px solid #e2e2e2;
  padding: 16px;
}

/* line 418, ../scss/style.scss */
input {
  background-color: transparent;
  border: none;
  width: 100%;
}
/* line 422, ../scss/style.scss */
input:focus {
  outline: none;
}

/* line 429, ../scss/style.scss */
.input-component {
  border: 1px solid #bfc3c9;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
/* line 434, ../scss/style.scss */
.input-component label {
  color: #cccccc;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 440, ../scss/style.scss */
.input-component input {
  border: none;
  width: 100%;
}
/* line 443, ../scss/style.scss */
.input-component input:focus {
  outline: none;
}

/* line 452, ../scss/style.scss */
.checkbox-component input[type="checkbox"] {
  border: 1px solid #bfc3c9;
  border-radius: 3px;
  opacity: 0;
  margin: 0;
  width: 0;
}
/* line 459, ../scss/style.scss */
.checkbox-component label {
  color: #bfc3c9;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding-left: 24px;
  position: relative;
}
/* line 466, ../scss/style.scss */
.checkbox-component label:before {
  color: #cccccc;
  font-family: 'FontAwesome';
  font-size: 18px;
  content: '\f096';
  position: absolute;
  top: -2px;
  left: -2px;
}
/* line 476, ../scss/style.scss */
.checkbox-component input:checked + label:before {
  color: #44a510;
  font-family: 'FontAwesome';
  font-size: 18px;
  content: '\f046';
  position: absolute;
  top: -2px;
  left: -2px;
}

/* line 488, ../scss/style.scss */
.radio-button-component input[type="radio"] {
  border: 1px solid #bfc3c9;
  border-radius: 50%;
  opacity: 0;
  margin: 0;
  width: 0;
}
/* line 495, ../scss/style.scss */
.radio-button-component label {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding-left: 24px;
  position: relative;
}
/* line 502, ../scss/style.scss */
.radio-button-component input:checked + label:before {
  color: #f76927;
  font-family: 'FontAwesome';
  font-size: 9px;
  content: '\f111';
  position: absolute;
  top: 4px;
  left: 0;
}

/* line 514, ../scss/style.scss */
.button-component {
  border: transparent;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

/* line 531, ../scss/style.scss */
.main-navigation {
  align-items: center;
  background-color: #383e5b;
  display: flex;
}
/* line 536, ../scss/style.scss */
.main-navigation .main-navigation__logo {
  background-color: #f76927;
  padding: 15px;
  width: 70px;
}
/* line 541, ../scss/style.scss */
.main-navigation .main-navigation__logo img {
  width: 100%;
}
/* line 548, ../scss/style.scss */
.main-navigation .main-navigation__search-form {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
}
/* line 556, ../scss/style.scss */
.main-navigation .main-navigation__search-bar {
  align-items: center;
  background-color: #565c77;
  color: #bfc3c9;
  display: flex;
  flex: 1 1 0;
  padding: 17px 20px;
  padding-right: 50px;
  position: relative;
  transition: color .3s;
}
/* line 567, ../scss/style.scss */
.main-navigation .main-navigation__search-bar input::placeholder {
  color: #bfc3c9;
  font-size: 13px;
}
/* line 573, ../scss/style.scss */
.main-navigation .main-navigation__search-bar .search-icon-wrapper {
  cursor: pointer;
  position: absolute;
  right: 20px;
}
/* line 581, ../scss/style.scss */
.main-navigation .main-navigation__search-bar:hover {
  color: #fff;
}
/* line 589, ../scss/style.scss */
.main-navigation .main-navigation__button {
  background-color: transparent;
  border: none;
  color: #cccccc;
  cursor: pointer;
  font-size: 12px;
  padding: 13px;
  transition: color .3s;
}
/* line 597, ../scss/style.scss */
.main-navigation .main-navigation__button:hover {
  color: #fff;
}
/* line 602, ../scss/style.scss */
.main-navigation .main-navigation__title,
.main-navigation .main-navigation__notification,
.main-navigation .main-navigation__profile-settings {
  display: none;
}
@media screen and (min-width: 768px) {
  /* line 531, ../scss/style.scss */
  .main-navigation {
    padding-right: 38px;
  }
  /* line 614, ../scss/style.scss */
  .main-navigation .main-navigation__notification {
    display: flex;
    padding: 0 20px;
  }
  /* line 620, ../scss/style.scss */
  .main-navigation .main-navigation__notification-item {
    padding: 0 15px;
    position: relative;
  }
  /* line 625, ../scss/style.scss */
  .main-navigation .main-navigation__notification-item .main-navigation__notification-icon {
    color: #bfc3c9;
    font-size: 24px;
    transition: color .3s;
  }
  /* line 631, ../scss/style.scss */
  .main-navigation .main-navigation__notification-item .main-navigation__notification-icon:hover {
    color: #fff;
  }
  /* line 640, ../scss/style.scss */
  .main-navigation .main-navigation__profile-settings {
    display: flex;
    align-items: center;
  }
  /* line 643, ../scss/style.scss */
  .main-navigation .main-navigation__profile-settings span {
    color: #fff;
  }
  /* line 647, ../scss/style.scss */
  .main-navigation .main-navigation__profile-settings i {
    color: #bfc3c9;
    transition: color .3s;
  }
  /* line 652, ../scss/style.scss */
  .main-navigation .main-navigation__profile-settings i:hover {
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  /* line 531, ../scss/style.scss */
  .main-navigation {
    padding-right: 79px;
  }
  /* line 667, ../scss/style.scss */
  .main-navigation .main-navigation__button {
    font-size: 15px;
    padding: 0 50px;
  }
  /* line 673, ../scss/style.scss */
  .main-navigation .main-navigation__title {
    color: #fff;
    display: block;
    padding: 0 30px;
    text-transform: uppercase;
  }
  /* line 678, ../scss/style.scss */
  .main-navigation .main-navigation__title h2 {
    font-size: 12px;
  }
}

/* line 688, ../scss/style.scss */
.sidebar {
  display: none;
}
@media screen and (min-width: 1200px) {
  /* line 688, ../scss/style.scss */
  .sidebar {
    background: #fff;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 70px;
  }
}

/* line 700, ../scss/style.scss */
.sidebar__item {
  display: block;
  margin: 10px 0;
}
/* line 703, ../scss/style.scss */
.sidebar__item:first-child {
  margin-top: 0;
}

/* line 717, ../scss/style.scss */
.home-navigation {
  color: #bfc3c9;
  font-size: 23px;
  transition: color .3s;
}
/* line 721, ../scss/style.scss */
.home-navigation:hover {
  color: #f76927;
}

/* line 726, ../scss/style.scss */
.home-navigation_active {
  color: #f76927;
}

/* line 739, ../scss/style.scss */
.chat-section__item-wrapper {
  cursor: pointer;
  padding: 0 20px;
  position: relative;
}
/* line 743, ../scss/style.scss */
.chat-section__item-wrapper > div {
  position: relative;
}

/* line 753, ../scss/style.scss */
.chat-section__footer {
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 70px;
}

/* line 759, ../scss/style.scss */
.chat-section__footer-item {
  color: #383e5b;
  display: block;
  padding: 20px;
  transition: color .3s, background-color .3s;
}
/* line 765, ../scss/style.scss */
.chat-section__footer-item i {
  font-size: 25px;
}
/* line 768, ../scss/style.scss */
.chat-section__footer-item:hover {
  background-color: #383e5b;
  color: #fff;
}

/* line 774, ../scss/style.scss */
.open-chat {
  background-color: #383e5b;
  color: #fff;
}
