@import 'login';
@import 'mixins';
@import 'variables';
.profile {
    // wrapper
    .wrapper {
        display: flex;
        }
    // wrapper
    
    
    

    // main-content
    .main-content {
        background-color: $very-light-blue;
        flex: 2 1 0;
        padding: 40px 15px;
    }

//    //////////////////////////////////////////////////////////////////////

//     Proflie page header has 4 parts:
//     1. cover-image
//     2. profile-page-nav
//     3. profille-user-info
//     4. contact user

        // more detils:
//     1. cover image holds only background image
//
//     2. profile nav is display:flex and it holds two ul lists so they can be position as defined
//        has 3 states of a tag:
//        1. defaul - grey color
//        2. hover - black color
//        3. active - black color
//
//     3. profille-user-info is position absolut and it has 2 parts:
//         1. user-rounded-image
//         2. user-info-text-wrapper

//     ///////////////////////////////////////////////////////////////////// 

    // profile-page-header
    .profile__header {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
        border: 2px solid $very-light-grey;
        border-radius: 3px;
        margin: 0;
        overflow: hidden; 
        position: relative;       
        @media screen and (min-width: 768px) {
            margin: 0 15px;
        } // media screen
    }
  
    // profile__cover-image
    .profile__cover-image {
        background-image: url('../img/users-images/james.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 28%;
        height: 160px;
        @media screen and (min-width: 768px) {
            height: 300px;
        }
    }

    // profile__nav
    .profile__nav {
        align-items: center;
        background-color: $white;
        display: flex;
        font-weight: 700;
        justify-content: flex-end;
        padding: 40px 25px 121px;
        text-transform: capitalize;
        ul {
            display: none;
            &:first-child {
                flex: 1 1 0;
            }
        }
        & > div{
            margin-left: 35px;
        } 

        @media screen and (min-width: 768px) {
            padding: 40px 25px 38px;
        }

        @media screen and (min-width: 1200px) {
            ul {
                display: block;
            }
        }
    }

    // profile__nav li
    .profile__nav li{
        display: inline-block;
        padding: 0 35px;
    }
    // profile-page-nav li

    // profile__nav a
    .profile__nav-link {
        color: $light-grey;
        transition: color .3s;
        i {
            font-size: 8px
        }
        
        &:hover {
            color: $black;
        }
    }

    .profile__nav-link_active {
        color: $black;
    }
    

    // profile__user-info
    .profile__user-info {
        margin-top: 5px;
        position: absolute;
        top: 37px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        .border{
            border: 3px solid $white;
        }
        & > div {
            margin: 0 auto;
        }

        @media screen and (min-width: 768px)  {
            top: 183px;
        }
    }

    // profile-user-info h1
    .user-info-text-wrapper h1 {
        color: $black;
        font-size: 26px;
        text-transform: capitalize;
    }

    // profile-user-info label
    .profile-user-info label {
        color: $light-grey;
    }
 
    // profile__contact-user
    .profile__contact-user {
        position: absolute;
        right: 35px;
        top: 266px;

        @media screen and (min-width: 768px){
            right: 12px;
        }
    }

    // profile__contact-user-item
    .profile__contact-user-item {
        display: inline-block;
        & > a {
            margin: 0 10px;
            transition: transform .3s;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
 
//////////////////////////////////////////////////////////////////////////////////
        // End of profile-page-header
//////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////
        // profile-content-wrapper
//////////////////////////////////////////////////////////////////////////////////
    
  

    // timeline-recent
    .timeline {
        display: flex;
    }

    // timeline-posts
    .timeline__posts {
        flex: 2 1 0;
    }
    

    // timeline-recent
    .timeline__recent {
        display: none;
        @media screen and (min-width: 1200px) {
            display: block;
            max-width: 350px;
        }
    }

    .content-holder {
        margin: 10px;
        position: relative;
        h3 {
            color: $black;
            font-size: 13px;
            margin-bottom: 5px;
            text-transform: capitalize;
        }

        p {
            color: $black;
            font-size: 12px;
            line-height: 1.5;
        }
        a {
            display: block;
        }

        
    } // content-holder

    // .social-links
    .social-links {
        margin-top: 12px;
        .social-links__item{
            align-items: center;
            background-color: $facebook-blue;
            border-radius: 3px;
            color: #fff; 
            display: flex;
            font-size: 11px;
            height: 30px;
            justify-content: center;
            margin-bottom: 10px;
            text-transform: capitalize;
            i {
                font-size: 13px;
                margin-right: 10px;
            }
    
            
        } // profile-intro 
    } 

    .spacing {
        margin: 10px 5px;
    }

    .spacing__item {
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 5px;
        position: relative;
    }

    .badges, .friends {
        a {
            display: block;
        }
    }

    ///////////////////////////////////
    // song is a section of "playlist".
    // song__time is default,
    // song__is-playing is only showing if song is currently playing
    ///////////////////////////////////
    .song {
        span {
            display: block;
            &:last-child {
                color: $light-grey;
                font-size: 12px;
            }
        } //  span
    }

    // song-length
    .song__length {
        color: $grey;
        font-size: 11px;
        margin-top: 3px;
    }

    // is-playing
    .song__is-playing {
        display: none;
        i {
            font-size: 4px;
        }
    }

    // number-of-song
    .song__number-of-song {
        color: $grey;
        font-size: 11px;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
    } 
    ///////////////////////////////////
    // end of song
    //////////////////////////////////
 
    // twitter
    .twitter {
        p {
            margin: 15px 0 20px;
        }  
    } 

    .time-of-post {
        color: $grey;
        font-size: 11px;
    }

    ///////////////////////////////////
    // videos
    ///////////////////////////////////
    .video {
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        img {
            height: 100%;
            transform: scale(1.2);
            width: 100%;
        }
    } // video

    // video__play-icon
    .video__play-icon {
        background-color: rgba(147, 150, 155, .2);
        color: $light-grey;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background-color .3s,
                    color .3s;
        i {
            font-size: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            background-color: rgba(147, 150, 155, .5);
            color: $orange;
        } // hover
    }

    ///////////////////////////////////
    // end of videos
    ///////////////////////////////////

    // blog-posts__titile
    .blog-posts__titile {
        font-size: 24px;
    }

    ///////////////////////////////////
    // poll
    ///////////////////////////////////
    .poll__title {
        color: $black;
        font-size: 14px;
    }

    .poll__section {
        margin: 15px;
        margin-bottom: 20px;
    }

    
    .poll__radio-button-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        position: relative;
        text-transform: capitalize;
        i {
            color: $light-grey;
            font-size: 17px;
            position: absolute;
            top: 1px;
            left: 0;
        }
    }

    .vote-number {
        font-size: 15px;
    }

    .poll__people-voted {
        color: $light-grey;
        display: block;
        font-size: 12px;
        margin: 7px 0;
    }

    .poll__vote-now {
        background-color: transparent;
        border: 1px solid $light-grey;
        border-radius: 3px;
        color: $light-grey;
        cursor: pointer;
        font-size: 13px;
        padding: 10px;
        text-align: center;
        text-transform: capitalize;
        transition: color .3s,
                    border-color .3s;
        width: 100%;
        &:hover {
            border-color: $orange;
            color: $orange;
        }
    }
    
    ///////////////////////////////////
    // end of poll
    ///////////////////////////////////
    
    // add-to-favorite 
    .add-to-favorite {
        color: $grey;
        font-size: 20px;
        transition: color .3s;
        &:hover {
            color: $orange;
            .tooltip {
                display: block;
            } // tooltip
        } // hover 
    }
    
    // last-photos
    .last-photos {
        li, a {
            display: inline-block;
        }
    }


    // timeline-posts
     //////////////////////////////////////////////////////////////////////////////////
    // Style for header post
    //////////////////////////////////////////////////////////////////////////////////
        
    // post-article
    .post-article {
        overflow: visible;
        padding: 0 25px;
        position: relative;
        & > div, footer {
            padding-top: 25px;
        }
    }
    // post-article

    .post-article__header {
        padding-top: 25px;
        position: relative;
    }

    .post-article__content {
        margin-bottom: 20px;
    }

    //////////////////////////////////////////////////////////////////////////////////
        // End of Style for header post
    //////////////////////////////////////////////////////////////////////////////////
        
    // post-text
    .post-article__text {
        color: $black;
    }
    // post-text

    // post-media
    .post-article__media {
        border-radius: 3px;
        line-height: 0;
        margin-top: 20px;
        overflow: hidden;
        iframe {
            height: 173px;
            width: 100%;
        }
        img {
            height: 100%;
            width: 100%;
        }
        @media screen and (min-width: 768px) {
            iframe {
                height: 315px;
            }
        } // media screen
    }
    // post-media

    // .list-of-react-options
    .list-of-react-options {
        position: absolute;
        right: -15px;
        top: 16px;
        li {
            margin-bottom: 7px;
        }
        a {
            transition: background-color .3s; 
        }
    }

    .list-of-react-options__trophy {
        &.active {
            background-color: $busy-yellow;
        } 
    }

    .list-of-react-options__fav {
        &.active {
            background-color: $orange;
        } 
    }

    .list-of-react-options__comments {
        &.active {
            background-color: $twitter-blue;
        } 
    }

    .list-of-react-options__share {
        &.active {
            background-color: $dark-purple;
        } 
    }
    // .list-of-react-options

    // reaction-footer
    .post-article__footer {
        border-top: 1px solid $light-grey;
    }

    .reaction-footer-flex-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    // number-of-reactions
    .number-of-reactions {
        color: $light-grey;
        margin-right: 10px;
        i {
            font-size: 18px;
        }
        span {
            font-size: 14px;
        }
        // &.likes {
        //     color: $orange;
        // }
        // &.message {
        //     color: $twitter-blue;
        // }
        // &.share {
        //     color: $less-dark-purple;
        // }

        &.number-of-reactions_liked {
            color: $orange;
        }
    }
    // number-of-reactions

    // like-section
    .like-section {
        display: flex;
    }
    // like-section


    // list-of-users-that-liked
    .list-of-users-that-liked {
        font-size: 13.5px;
        display: none;
        line-height: 1;
        margin-left: 5px;
        max-width: 120px;
        text-transform: capitalize;
        a {
            color: $black;
            font-weight: 700;
        }
        span {
            color: $light-grey;
            font-size: 11px;
        }
        @media screen and (min-width: 768px) {
            display: block;
        } // media screen
    }
    // list-of-users-that-liked

    // message-share-section
    .message-share-section {
        display: flex;
        justify-content: flex-end;
    }

     // number-of-reactions
    .number-of-reactions {
        position: relative;
        &:last-child {
            margin-right: 0;
        }
    }

    // share__list
    .share-drop-down {
        background-color: #fff;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
        border: 2px solid #e2e2e2;
        border-radius: 3px;
        padding: 20px;
        position: absolute;
        right: 38px;
        bottom: 0;
        text-transform: capitalize;
        width: 200px;
        z-index: 1;
    }

    .share-drop-down__heading {
        color: $black;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .share-drop-down__list {
        font-size: 14px;
        margin-bottom: 5px;
        transition: color .3s;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: $orange;
        }
    }

    // external-post
    .external-post {
        border-left: 1px solid $light-grey;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .external-post__header {
        padding-top: 12px; 
        position: relative;
    }
    .side-circle-icon-wrapper {
        left: -25px;
    }

    .external-post__text {
        font-size: 13px;
        padding-top: 25px;
    }
    // external-post


    // comment
    .comment__item {
        background-color: $darker-white;
        border-bottom: 1px solid $light-grey;
        margin: 0 -25px;
        padding:  0 25px;
        &:first-child {
            border-top: 1px solid $light-grey;
        }  
    }
       
    // comment__content
    .comment__content {
        padding-top: 12px;
        font-size: 13px;
    }


    // comment-footer
    .comment__footer {
        align-items: center;
        display: flex;
        padding: 12px 0; 
    }

    .comment__replay {
        color: $black;
        font-size: 13.5px;
    }

    // sub-comment
    .sub-comment {
        margin-top: 0;
        padding-left: 35px;
        position: relative;
    }

    .sub-comment__container {
        border-left: 1px solid $light-grey;
        padding-left: 25px;
    }

    .side-circle-icon-wrapper {
        position: absolute;
        top: 33px;
        left: 31px;
        i {
            background-color: $darker-white;
            border-radius: 50%;
            height: 9px;
            color: $light-grey;
            font-size: 10px;
            width: 8px;
        }
    }
    // sub-comment

    // load-more
    .load-more-comments {
        text-align: center;
        span {
            color: $black;
            font-size: 13px
        }
        i {
            color: $orange;
            font-size: 9px;
            padding: 15px 0; 
        }
    }
    // load-more

    // add-comment
    .add-comment {
        border-top: 1px solid $light-grey;
        display: flex;
        margin-top: 0;
        padding: 25px;
    }

    // text-area-wrapper
    .text-area-wrapper {
        align-items: center;
        border: 1px solid $light-grey;
        border-radius: 3px;
        color: $black;
        display: flex;
        font-size: 13px;
        height: 53px;
        justify-content: space-between;
        margin-left: 5px;
        overflow: hidden;
        padding: 0 15px;
        width: 100%;
    }

    textarea {
        background-color: transparent;
        border: none;
        height: 100%;
        padding: 10px 0;
        resize: none;
        width: 100%;
    }

    textarea:focus {
        outline: none;
    }

    .capture-icon {
        color: $light-grey;
        font-size: 20px;
        margin-left: 11px;
        transition: color .3s;
        &:hover {
            color: $black;
        }
    }

    // load-more-posts
    .load-more-posts {
        background-color: rgba(204, 204, 204, .7);
        border-radius: 50%;
        color: $white;
        display: block;
        font-size: 5px;
        height: 50px;
        margin: 0 auto;
        margin-top: 30px;
        position: relative;
        transition: transform .3s;
        width: 50px;
        &:hover {
            transform: scale(1.2);
        }

        .load-more-posts-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    // load-more-posts
    
    // timeline-posts

//////////////////////////////////////////////////////////////////////////////////
        // End of profile-content-wrapper
//////////////////////////////////////////////////////////////////////////////////

    // main-content

}
// profile