$white: #fff;

$darker-white: #f7f7f7;

$red: rgb(224, 40, 40);

$grey: #bfc3c9;

$light-grey: #cccccc;

$very-light-grey: #e2e2e2;

$orange: #f76927;

$success-green: #44a510;

$facebook-blue: #3B5998; 

$twitter-blue: #1DA1F2;

$very-light-blue: #edf3ff;

$dark-purple: #383e5b;

$less-dark-purple: #565c77;

$busy-yellow: #ffd400;

$black: #3a3b3d;

$transparent-black: rgba(0, 0, 0, 0.8);