@import 'login';
@import 'profile';
@import 'mixins';
@import 'variables';

* {
    font-family: 'Nanum Gothic', sans-serif;
}

// container
.container {
    margin: 0 auto;
    width: 80%;
}
// container


// delete
.delete {
    color: $orange;
}
// delete

// .circle-icon
.circle-icon-component {
    background-color: $light-grey;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    i {
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.circle-icon-component_small {
    height: 30px;
    width: 30px;
    i {
        font-size: 15px;
    }
} // small 

.circle-icon-component_large {
    height: 45px;
    width: 45px;
    i {
        font-size: 22px;
    }
} // large

// send-request color
.circle-icon-component_bg-twitter-blue {
    background-color: $twitter-blue;
}

// send-message color
.circle-icon-component_bg-purple {
    background-color: $less-dark-purple;
}

// share color
.circle-icon-component_bg-orange {
    background-color: $orange;
}
// .circle-icon


// .circle-img
.circle-img-component {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    img {
        height: 100%;
        width: 100%;
    }
}

// extra small
.circle-img-component_extra-small {
    height: 30px;
    width: 30px;
}

// small
.circle-img-component_small {
    height: 35px;
    width: 35px;
}

// medium
.circle-img-component_medium {
    height: 45px;
    width: 45px;
}

// large
.circle-img-component_large {
    height: 130px;
    width: 130px;
}


// .circle-img

// .rounded-corner-img 
.rounded-corner-component {
    border-radius: 3px;
    overflow: hidden;
    img {
        height: 100%;
        width: 100%;
    }
}

// small
.rounded-corner-component_small {
    height: 35px;
    width: 35px;
}

// medium
.rounded-corner-component_medium {
    height: 45px;
    width: 45px;
}

// large
.rounded-corner-component_large{
    height: 65px;
    width: 65px;
}

// .rounded-corner-img 

// overlapping 
.overlapping {
    display: flex;
    & > div {
        border: 2px solid $white;
        margin-left: -10px;
        &:first-child {
            margin-left: 0;
        }
    }
}
// overlapping 

// online-status-circle 
.online-status-circle {
    border: 2px solid;
    border-radius: 50%;
    font-size: 11px;
    height: 11px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    z-index: 1;
}

// active
.online-status-circle_active {
    background-color: $success-green;
}

// busy
.online-status-circle_busy {
    background-color: $busy-yellow;
}

// offline
.online-status-circle_offline {
    background-color: $grey;
}

// border white
.online-status-circle_border-white {
    border-color: $white;
}

// border purple
.online-status-circle_border-purple {
    border-color: $dark-purple;
}

// online-status-circle 

// notification-component
.notification-component {
    background-color: $orange;
    border-radius: 50%;
    color: #fff;
    height: 18px;
    text-align: center;
    position: absolute;
    width: 18px;
    top: -3px;
    span {
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        top: 3px;
        left: 5px;
    }

    &.notification-component_small-icon {
        right: 5px;
    }

    &.notification-component_medium-icon {
        right: -5px;
    }
}
// notification-component

// image-text-component
.image-text-component {
    align-items: center;
    display: flex;
    position: relative;
}

.image-text-component__image {
    margin-right: 7px;
}

.image-text-component__text {
    margin-right: 15px;
    text-transform: capitalize;
}

.image-text-component__title {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
}

.image-text-component__span {
    &:last-child {
        color: $light-grey;
        display: block;
        font-size: 12px;
    }
}
.image-text-component__span_uppercase {
    text-transform: uppercase;
}
.image-text-component__span_capitalize {
    text-transform: capitalize;
}

.image-text-component__shared-media {
    color: $light-grey;
    font-size: 14px;
    margin-left: 3px;
    text-transform: none;
    a {
        color: $orange;
    }
}


// image-text-component

// info-row-component
.info-row-component {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    
.info-row-component_align-top {
    align-items: flex-start;
}

.info-row-component_align-center {
    align-items: center;
}
// info-row-component

// user-name-popup
.tooltip {
    background-color: $transparent-black;
    border-radius: 3px;
    color: $very-light-grey;
    display: none;
    font-size: 10px;
    line-height: 1.3;
    min-width: 100px;
    padding: 8px;
    position: absolute;
    top: -33px;
    right: -41px;
    text-transform: uppercase;
    &:after {
        font-family: 'FontAwesome';
        color: $transparent-black;
        content: '\f0d7';
        font-size: 22px;
        position: absolute;
        left: 50%;
        top: 17px;
        transform: translateX(-50%);
    } // after
}
// user-name-popup


// drop-down-icon-wrapper
.drop-down-icon-wrapper {
    color: $light-grey;
    font-size: 8px;
    transition: color .3s;
    text-align: right;
    width: 40px;
    &:hover {
        color: $black;
        .drop-down-list {
            display: block;
            opacity: 1;
        }
    } // hover
}

// drop-down-list
.drop-down-list {
    background-color: $white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    border: 2px solid $very-light-grey;
    color: $black;
    display: block;
    font-size: 12px;
    font-weight: 700;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: 55px;
    right: 0;
    text-transform: capitalize;
    transition: opacity .9s;
    z-index: 1;
    a {
        display: block;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
// drop-down-icon-wrapper

// poll__component
.poll__component {
    margin-top: 10px;
}

.poll__empty-bar {
    background-color: $light-grey;
    border-radius: 5px;
    height: 5px;
    position: relative;
    width: 100%;
}  

.poll__current-bar {
    background-color: $orange;
    border-radius: 5px;
    height: 5px;
    position: absolute;
}

.poll__current-bar_full {
    width: 100%;
}

.poll__current-bar_half {
    width: 50%;
}


.box-widget {
    background-color: $white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    border: 2px solid $very-light-grey;
    border-radius: 3px;
    margin: 15px 0;
    min-width: 270px;

    @media screen and (min-width: 768px) {
        margin: 30px 15px 0;
    } // media screen
}   

.header {
    padding: 25px 25px 18px;
    h2 {
        color: $black;
        font-size: 14px;
        text-transform: capitalize;
    }
}

// box-widget-item
.box-widget-item {
    border-top: 1px solid $very-light-grey;
    padding: 16px;
}



// input
input {
    background-color: transparent;
    border: none;
    width: 100%;
    &:focus {
        outline: none;
    }
}
// input

// input wrapper
.input-component {
    border: 1px solid $grey;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 10px 20px;
    label {
        color: $light-grey;
        display: block;
        font-size: 12px;
        margin-bottom: 5px;
    }
    input {
        border: none;
        width: 100%;
        &:focus {
            outline: none;
        }
    }
}
// input wrapper


.checkbox-component {
    input[type="checkbox"] {
        border: 1px solid $grey;
        border-radius: 3px;
        opacity: 0;
        margin: 0;
        width: 0;
    }
    label {
        color: $grey;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        padding-left: 24px;
        position: relative;
        &:before {
            color: $light-grey;
            font-family: 'FontAwesome';
            font-size: 18px;
            content: '\f096';
            position: absolute;
            top: -2px;
            left: -2px;
        }
    }
    input:checked + label:before {
        color: $success-green;
            font-family: 'FontAwesome';
            font-size: 18px;
            content: '\f046';
            position: absolute;
            top: -2px;
            left: -2px;
    }
}

.radio-button-component {
    input[type="radio"] {
        border: 1px solid $grey;
        border-radius: 50%;
        opacity: 0;
        margin: 0;
        width: 0;
    }
    label {
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        padding-left: 24px;
        position: relative;
    }
    input:checked + label:before {
        color: #f76927;
        font-family: 'FontAwesome';
        font-size: 9px;
        content: '\f111';
        position: absolute;   
        top: 4px;
        left: 0;
    }
}

// button-component
.button-component {
    border: transparent;
    border-radius: 3px;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
}
// button-component



// main-nav-bar
.main-navigation {
    align-items: center;
    background-color: $dark-purple;
    display: flex;
    // logo-wrapper
    .main-navigation__logo {
        background-color: $orange;
        padding: 15px;
        width: 70px;
        // img
        img {
            width: 100%;
        } 
        //img 
    } 
    // logo-wrapper

    .main-navigation__search-form {
        align-items: center;
        display: flex;
        flex: 1 1 0;
        justify-content: space-between;
    }

    // search-bar
    .main-navigation__search-bar {
        align-items: center;
        background-color: $less-dark-purple;
        color: $grey;
        display: flex;
        flex: 1 1 0;
        padding: 17px 20px;
        padding-right: 50px;
        position: relative;
        transition: color .3s;

        input::placeholder {
            color: $grey;
            font-size: 13px;
        }

        // search-icon-wrapper
        .search-icon-wrapper {
            cursor: pointer;
            position: absolute;
            right: 20px;
        }
        // search-icon-wrapper

        // hover
        &:hover {
            color: $white;
        }
        // hover
    }
    // search-bar

    // main-navigation__button 
    .main-navigation__button {
        background-color: transparent;
        border: none;
        color: $light-grey;
        cursor: pointer;
        font-size: 12px;
        padding: 13px;
        transition: color .3s;
        &:hover {
            color: $white;
        }
    } // main-navigation__button 

    .main-navigation__title, 
    .main-navigation__notification,
    .main-navigation__profile-settings {
        display: none;
    }


    @media screen and (min-width: 768px) {

        padding-right: 38px;

        // notification-bar
        .main-navigation__notification {
            display: flex;
            padding: 0 20px;
        }

        // notification-icon-wrapper
        .main-navigation__notification-item {
            padding: 0 15px;
            position: relative;

            // icon
            .main-navigation__notification-icon {
                color: $grey;
                font-size: 24px;
                transition: color .3s;
        
                // hover
                &:hover {
                    color: $white;
                }
                // hover
            }
            // icon
        }

        // user-profile-settings
        .main-navigation__profile-settings {
            display: flex;
            align-items: center;
            span {
                color: $white;
            }
                // dropdown-icon-wrapper
            i {
                color: $grey;
                transition: color .3s;

                // hover
                &:hover {
                    color: $white;
                }
                // hover
            }
            // dropdown-icon-wrapper
        }


    } // 768px

    @media screen and (min-width: 1200px) {
        padding-right: 79px;
        
        // main-navigation__button 
        .main-navigation__button {
            font-size: 15px;
            padding: 0 50px;
        }

        // main-nav-bar__title
        .main-navigation__title {
            color: $white;
            display: block;
            padding: 0 30px;
            text-transform: uppercase;
            h2 {
                font-size: 12px;
            }
        }
    } // 1200px
} 
// main-nav-bar


// sidebar
.sidebar {
    display: none;
    @media screen and (min-width: 1200px) {
        background: $white;
        display: block;
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
        width: 70px;
    } // @media screen 
}

.sidebar__item {
    display: block;
    margin: 10px 0;
    &:first-child {
        margin-top: 0;
    }
}



// home-navigation
/////////////////////////////////////////////////////////////////////////////////////////////
// icon has 3 states:
// 1. default with grey color
// 2. hover with orange color
// 3. active with orange color - by adding home-navigation_active
////////////////////////////////////////////////////////////////////////////////////////////
.home-navigation {
    color: $grey;
    font-size: 23px;
    transition: color .3s;
    &:hover {
        color: $orange;
    }
}
    
.home-navigation_active{
    color: $orange;
}





//////////////////////////////////////////////////////////////////////////////////
        // chat-section
//////////////////////////////////////////////////////////////////////////////////
    

.chat-section__item-wrapper {
    cursor: pointer;
    padding: 0 20px;
    position: relative;
    & > div {
        // margin: 15px 0;
        position: relative;

        &:first-child {
            // margin-top: 0;
        }
    } // direct child 
}

.chat-section__footer{
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 70px;   
}
.chat-section__footer-item {
    color: $dark-purple;
    display: block;
    padding: 20px;
    transition: color .3s,
                background-color .3s;
    i {
        font-size: 25px;
    }
    &:hover {
        background-color: $dark-purple;
        color: $white;  
    }
} 

.open-chat {
    background-color: $dark-purple;
    color: $white;
} 

//////////////////////////////////////////////////////////////////////////////////
    // End of chat-section
//////////////////////////////////////////////////////////////////////////////////





